* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    margin: auto;
    padding: 20px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #042541;
}

.header__links {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
}

.header__links-logo {
    width: 150px;
}

li {
    margin-left: 4%;
}

a.header__link {
    font-size: 18px;
    font-family: sans-serif;
    color: #f1f1f1;
}

.header__logins {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    justify-content: end;
}


/* section */

.container {
    width: 95%;
    margin: auto;
}

section {
    background-image: url(images/main-section.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 4% 3%;
    color: #fff;
}

.main__sec-title {
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
    font-family: sans-serif;
}

.main__sec-text {
    font-size: 2em;
    font-weight: 600;
    margin-top: 10px;
}

.main__sec-btns {
    width: 100%;
    position: relative;
    margin-top: 45px;
}

#main__sec-input {
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
}

#main__sec-btn {
    position: absolute;
    top: 0;
    right: -1px;
    height: 46px;
    width: 10%;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    color: #fff;
    background: #19cdb7;
}


/* popular, freeWatch */

.popular__selector,
.freeWatch__selector {
    display: flex;
    align-items: center;
    margin: 2% 1%;
}

.popular__selector-title,
.freeWatch__selector-title {
    margin-right: 20px;
    white-space: nowrap;
    font-size: 24px;
    color: #042541;
}

.popular__selector-links,
.freeWatch__selector-links {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    border: 1px solid #000;
    border-radius: 30px;
}

.popular__selector-link,
.freeWatch__selector-link {
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 600;
    padding: 4px 20px;
    margin-bottom: 0;
    white-space: nowrap;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    color: #000;
}

.popular__selector-link:hover,
.freeWatch__selector-link:hover {
    background-color: #042541;
    color: #a8f9c8;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.popular__selector-row,
.freeWatch__selector-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
}

.popular__selector-card,
.freeWatch__selector-card {
    width: 14%;
    min-width: 14%;
    margin-left: 20px;
}

.popular__selector-card img,
.freeWatch__selector-card img {
    width: 100%;
}

.popular__selector-text,
.freeWatch__selector-text {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    padding: 6px;
    cursor: pointer;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.popular__selector-text:hover,
.freeWatch__selector-text:hover {
    color: #09c6e7;
}

.popular__selector-date,
.freeWatch__selector-date {
    color: #888;
    font-size: 15px;
    padding: 0px 6px;
}